pip
workon
numpy
more-itertools
#functools
operator-courier
pandas
pytest-shutil
python-math
regex
DateTime
secure-smtplib
scipy>=1.6
pyunpack
python-dev-tools
Cython
patool
pyinstaller>=4.5.1
pefile>=2017.8.1
altgraph
PyQt5>=5.15
PyQt5-Qt5>=5.15
PyQt5-sip>=12.8
py7zr